@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<AnimalWeb.Models.Categories>


@{
    ViewData["Title"] = "Categoris";
}
<link rel="stylesheet" href="/css/modal.css">

<body style="background-color:#EEA47FFF">

    <h1> you are at Categories page</h1>

    <div>


        @foreach (var item in Model)
        {

            <div class="modal-content shadow col-lg-3 col-md-4 category-modul">

                @*                <svg width="140" height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false" style="border-radius:50%; " fill="#777"></svg>
            <title>@item.Name</title>*@
                <div class="modal-body modal-centered">
                    <p><a class="btn btn-secondary" href="@Url.Action(@item.Name, "Categories")">  <img src="@item.CategoryPicture" alt="@item.Name icon" style="height:150px; width:150px; border-radius:50%;" /> </a></p>
                </div>
                <div class="modal-footer modal-centered">
                    <h2 class="fw-normal">@Html.DisplayFor(model => item.Name)</h2>
                    <button type="button" class="btn btn-primary btn-lg" href="@Url.Action(@item.Name, "Categories")"> search @item.Name</button>

                </div>


                @*  each category will have an uniq action with her name that will return the view of her page*@

            </div>
        }

    </div>


    <div>

    </div>
</body>


