@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<AnimalWeb.Models.Categories>


@{
    ViewData["Title"] = "Categoris";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/modal.css">

<body>


    @{
        if (ViewBag.isAdmin == true)
        {
            <h1>you are admin!</h1>
        }
    }

    <div>


        @foreach (var item in Model)
        {

            <div class="modal-content shadow col-lg-3 col-md-4 category-modul">
                <div class="modal-body modal-centered">
                    <p><a class="btn btn-secondary" href="@Url.Action("GetCategory", "Categories", new { categoryName = item.Name} )">  <img src="@item.CategoryPicture" alt="@item.Name icon" style="height:150px; width:150px; border-radius:50%;" /> </a></p>
                </div>
                <div class="modal-footer modal-centered">
                    <h2 class="fw-normal">@Html.DisplayFor(model => item.Name)</h2>
                    <a href="@Url.Action("GetCategory", "Categories", new { categoryName = item.Name , isAdmin = ViewBag.isAdmin} )">
                        <button type="button" class="btn btn-primary btn-lg"> search @item.Name</button>
                    </a>
                </div>
                @* each category will have an uniq action with her name that will return the view of her page*@

            </div>
        }

        @if (ViewBag.isAdmin)
        {
            <div class="modal-content shadow col-lg-3 col-md-4 category-modul Add-category">
                <div class="modal-body modal-centered">
                    <p><a class="btn btn-secondary" href="@Url.Action("MakeNewCategoryForm", "Categories" )">  <img src="\Assets\CategoriesI-icons\addCategory.png" alt="pluse icon to add category" style="height:150px; width:150px; border-radius:50%;" /> </a></p>
                </div>
                <div class="modal-footer modal-centered">
                    <h2 class="fw-normal">Add category</h2>
                    <a href="@Url.Action("MakeNewCategoryForm", "Categories")">
                        <button type="button" class="btn btn-primary btn-lg"> Add</button>
                    </a>
                </div>

            </div>

        }
    </div>
</body>


