@model Animals
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

</head>

<body>
    @if (ViewBag.erorEdit)
    {
        <div style="background-color:palevioletred">
            <h3>Error</h3>
            <p>the details are not valid</p>
        </div>
    }
    @using (Html.BeginForm("SaveAnimalChanges", "Categories", FormMethod.Post))
    {
        <table class="create-animal-form">
            <tr>
                <th>
                    <span>Name: </span>
                </th>
                <th>
                    <input name="Name" type="text" required value="@Model.Name" />
                </th>
            </tr>
            <tr>
                <th>
                    <span>Age: </span>
                </th>
                <th>
                    <input name="Age" type="number" required value="@Model.Age" />
                </th>
            </tr>
            <tr>
                <th>
                    <span>PictureURL: </span>
                </th>
                <th>
                    <input name="pictureName" type="text" required value="@Model.PictureName" />
                </th>
            </tr>

            <tr>
                <th>
                    <span>Description: </span>
                </th>
                <th>
                    <input name="description" type="text" required value="@Model.Description" />
                </th>
            </tr>
            <tr>
                <th>
                    <span>Price: </span>
                </th>
                <th>
                    <input name="Price" type="number" required value="@Model.Price" />
                </th>
            </tr>
            <label style="visibility:collapse"> <input name="id" type="number" value="@Model.ID" /></label>

        </table>


        <input id="Submit" type="submit" value="submit" />

    }




</body>

