@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<AnimalWeb.Models.Animals>

@{
    ViewData["Title"] = "Animals" + @Html.DisplayNameFor(model => model.Category);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PictureName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.ID)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Name)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Age)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.PictureName)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Description)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Price)
                    </th>
                    @{
                        if (ViewBag.isAdmin == true)
                        {
                            <td >
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                            </td>
                        }
                        else
                        {
                            <td style="visibility:hidden">
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                            </td>
                        }
                    }
                   
                </tr>
            }
        </tbody>
    </table>
</body>
</html>