@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<AnimalWeb.Models.Animals>

@{
    ViewData["Title"] = ViewBag.categoryName + " page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/modal.css">
    <title>View</title>
</head>
<body>
    @{
        if (ViewBag.isAdmin == true)
        {
            <p>
                <a href="@Url.Action("CreateAnimal", "Categories", new{category = @ViewBag.categoryName })">Create New Animal</a>
            </p>
        }
    }

    <h1>Here you can find the best @ViewBag.categoryName in town</h1>

    @foreach (var Animal in Model)
    {
        <div class="modal-content shadow col-lg-5 col-md-4 category-modul" style="background-color:brown">
            <div class="modal-body modal-centered">
                <p><a class="btn btn-secondary" href="@Url.Action("GetCommentsForAnimal", "Categories", new { Id = @Animal.ID} )">  <img src="@Animal.PictureName" alt="@Animal.Name icon" style="height:150px; width:150px; border-radius:50%;" /> </a></p>
                <h2 class="fw-normal">@Html.DisplayFor(model => @Animal.Name)</h2>
            </div>
            <div class="modal-footer modal-centered">
                <h4>Age : @Animal.Age</h4>
                <h5>@Animal.Description</h5>
                <a href="@Url.Action("GetCommentsForAnimal", "Categories", new { Id = @Animal.ID , pictureName = @Animal.PictureName, name = @Animal.Name, description = @Animal.Description } )">
                    <button type="button" class="btn btn-primary btn-lg">$ @Animal.Price</button>
                    <button type="button" class="btn btn-primary btn-lg" href="@Url.Action("GetCommentsForAnimal", "Categories", new { Id = @Animal.ID ,pictureName = @Animal.PictureName} )">Leave comment</button>
                </a><br />
            </div>
            @* each category will have an uniq action with her name that will return the view of her page*@


            @if (ViewBag.isAdmin == true)
            {
                <td id="Animal-actions">
                    @Html.ActionLink("Edit", "Edit", new {id=Animal.ID  }) |
                    @Html.ActionLink("Delete", "Delete", new { id=Animal.ID })
                </td>
            }

        </div>

    }

    @if (!ViewBag.isAdmin)
    {
 
        <div class="modal-content shadow col-lg-5 col-md-4 category-modul Add-category">
            <div class="modal-body modal-centered">
                <p>
                    <a href="@Url.Action("CreateAnimal", "Categories", new{category = @ViewBag.categoryName })">
                        <img src="\Assets\CategoriesI-icons\addCategory.png" alt="pluse icon to add category" style="height:150px; width:150px; border-radius:50%;" />
                    </a>
                </p>
            </div>
            <br />
            <br />
            <div class="modal-footer modal-centered">
                <h2 class="fw-normal">Add Animal</h2>
                <a href="@Url.Action("CreateAnimal", "Categories")">
                    <button type="button" class="btn btn-primary btn-lg"> Add</button>
                    <br />
                </a> <br />
            </div>

        </div>

    }
</body>
</html>