<link rel="stylesheet" href="~/css/modal.css" />
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <div style="margin-top:-30px;">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="\Assets\iconGetPet.png" alt="icon" width="80" height="60" background-size: cover; />
                </a>
            </div>


        </div>
        <ul class="nav navbar-nav ">
            <li id="Home"><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("AllCategories", "Categories")">Categories</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            @{
                if (ViewBag.isAdmin == true)
                {
                    <li><a href="@Url.Action("LogOut", "Categories")"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-user"></span> Admin</a></li>
                }
                else if(ViewBag.isAdmin == false)
                {
                    <li><a href="@Url.Action("AdminConnectionForm", "Admin")"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                    <li><a href="@Url.Action("AdminSignUpForm", "Admin")"><span class="glyphicon glyphicon-user"></span> Singn up</a></li>
                }
            } 
        </ul>
    </div>
</nav>

