<link rel="stylesheet" href="~/css/modal.css" />
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <div style="margin-top:-30px;">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="\Assets\iconGetPet.png" alt="icon" width="80" height="60" background-size: cover; />
                </a>
            </div>


        </div>
        <ul class="nav navbar-nav">
            <li class="active" id="Home"><a href="@Url.Action("Index", "Home")">Home</a></li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("AllCategories", "Categories")">Categories<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("AllCategories", "Categories")">Categories</a></li>



                    @foreach (var item in ViewData["Model"].ToString())
                    {
                        <li><a href="@Url.Action("GetCategory", "Categories", new { categoryName = item , isAdmin = ViewBag.isAdmin} )"></a>item</li>
                    }

                    <li><a href="@Url.Action("GetCategory", "Categories", new { categoryName = "Dogs"} )"</a>Dogs</li>
                    <li><a href="@Url.Action("GetCategory", "Categories", new { categoryName = "Cats"} )"</a>Cats</li>
                    <li><a href="@Url.Action("GetCategory", "Categories", new { categoryName = "Fish"})">Fish</a></li>
                    <li><a href="@Url.Action("GetCategory", "Categories", new { categoryName = "Rabbits"})">Rabbits</a></li>
                    <li><a href="@Url.Action("GetCategory", "Categories", new { categoryName = "Iguanas"})">Iguanas</a></li>
                    <li><a href="@Url.Action("GetCategory", "Categories", new { categoryName = "Birds"})">Birds</a></li>

                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="@Url.Action("AdminConnectionForm", "Admin")"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="@Url.Action("AdminConnectionForm", "Admin")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

